<%- include("partials/header") %>

<form id="form" action="/submit" method="POST">
  <input name="title" type="text" class="feedback-input" placeholder="Blog title" />
  <input name="author" type="text" class="feedback-input" placeholder="Author" />
  <textarea name="content" class="feedback-input" placeholder="Body"></textarea>
  <input type="submit" value="SUBMIT" />
</form>